/*
-Steve Barry-
main css file
*/

body{
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding-top: 10px;
    display: block;
    position: relative;
    width: 100%;
    background-color: grey;
    color: white;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}
footer{
    text-align: center;
    font-size: 80%;
    padding: 20px;
    background-color: grey;
    color: white;
    text-shadow: dimgray 1px 1px 3px;
}
h1{
    position: relative;
}
nav{
    float: right;
    width: 85%;
}
#menu{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: right;
}
.menuLink{
    display: inline-block;
    padding-right: 5%;
    text-align: center;
    line-height: 200%;

}
.sb_name{
    float: left;
    font-size: 150%;
    text-shadow: dimgray 1px 1px 3px;
    flex-shrink: 2;
}
#stephen{
    padding-left: 50px;
    font-weight: bold;
}
#barry{
    color: lightgrey;
    font-weight: normal;
}
#banner{
    width: 100%;
    background: linear-gradient(bottom, black,rgba(255,255,255,1));
    border: none;
    height: 200px;
}
#mainContent{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: -9%;
    flex-wrap: wrap;
}
#me{
    width:15%;
    height: 10%;
    margin-left: 3%;
    margin-top: -10%;
    left: 20px;
    border-radius: 10px;
    box-shadow: var(--bx_shadow);
    min-width: 70px;
    
}
a{
    color: white;
}

#aboutH2{
    /* margin-left: 20%; */
    margin-top: -15%;
    

}
h2{
    color: var(--h_color);
    margin-bottom: 10px;
    display: inline-block;
    width: 50%;
}
#aboutTop, #aboutMiddle{

}
#aboutMiddle{

}
.aboutP{
    /* font-size: 80%; */
    /* margin-bottom: 2%; */
    width: 100%;
    /* padding: 0 0 15px 0; */
    padding-bottom: 15px;
    text-align: justify;
}
#theCode, #contact{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}
#contact{
    margin-bottom: 50px;
}
#mainExample{
    margin-bottom: 20px;
}
h3{
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    font-size: 125%;
}
#img_dateNight{
    width: 100%;
    height: fit-content;
    min-width: 190px;
    margin: 0 auto;
}

.codeImg{
    border-radius: 20px;
    box-shadow: var(--bx_shadow);
    margin: 0 auto;
}
.codeP{
    margin-bottom: 10px;
}

.subExample{
    width: 45%;
    margin-bottom: 20px;
}
.subImg{
    width:100%;
    height: fit-content;
}
.cricketDiv{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    border: none;
}
.cricket{
    border: none;
}

.contactIcon{
    width: 30%;
    max-width: 100px;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}
.contactImg{
    height: 50px;
    width: 50%;
}
h2{
    width: 100%;
}
.contactP{
    width: 100%;
    margin-bottom: 15px;
}

#mainEx{
    text-align: center;
    width: 80%;
    height: 500px;
    display: block;
    

    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}