/*
-Steve Barry-
main css file
*/

body{
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding-top: 10px;
    display: block;
    position: relative;
    width: 100%;
    background-color: grey;
    color: white;
    height: 50px;
    top: 0;
}
#menu{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 80%;
    margin-top: 7px;
}
.menuLink{
    display: inline;
    padding-right: 5%;
}
.sb_name{
    float: left;
    font-size: 150%;
    text-shadow: dimgray 1px 1px 3px;
}
#stephen{
    padding-left: 50px;
    font-weight: bold;
}
#barry{
    color: lightgrey;
    font-weight: normal;
}
#banner{
    width: 100%;
    background: linear-gradient(bottom, black,rgba(255,255,255,1));
    border: none;
    height: 200px;
}
#mainContent{
    display: flex;
    width: 90%;
    margin: 0 auto;
    top: -200px;
    flex-wrap: wrap;
}
#me{
    width:15%;
    height: 10%;
    margin-left: 3%;
    margin-top: -10%;
    left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

#aboutH2{
    margin-left: 20%;
    margin-top: -10%;
    color: var(--h_color);
    font-weight: bolder;
    width: 100%;
    height: fit-content;
}
#aboutTop{
    margin-left: 20%;
    margin-top: -5%;
}
.aboutP{
    font-size: 80%;
    margin-bottom: 3%;
    width: 100%;
}