/*
Weather dashboard
- Steve Barry -
Media CSS file
*/


@media screen and (max-width:850px) and (min-width:450px) {
    #me{
        margin-left: 41%;
        margin-top: -10%;
        width:20%;
        height: 15%;
    }
    #mainContent{
        margin-top: 0;
        width: 80%;
    }
    #frameDiv{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #modalView{
        width: 100%;
        margin-left: 13%;
        padding: 0;
        zoom: 1;
    }
    .conCan{
        width: 51%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:650px) {
    #mainContent{
        margin-top: 0;
        width: 90%;
    }
    header{
        height: 50px;
        width: 100%;
    }
    #banner{
        height: 70px;
    }
    .sb_name{
        font-size: 100%;
        display: block;
        text-align: center;
    }
    #stephen{
        margin-left: 0;
    }
    h1{
        width: fit-content;
        margin: 0 auto;
    }
    nav{
        width: 100%;
    }
    #menu{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    h2{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }
    #aboutTop, #aboutMiddle{
        margin-left: 0;
        margin-top: 10px;
    }
    h3{
        margin-top: 15px;
        text-align: center;
    }
    .aboutP{
        text-align: justify;
    }
    #me{
        margin-left: 36%;
        margin-top: -10%;
    }
    #mainExample{
        width: 100%;
    }
    .subExample{
        width: 100%;
    }
    .conCan{
        width: 51%;
        margin-bottom: 10px;
    }
    #modalView{
        width: 100%;
        margin-left:5%;
        padding: 0;
        zoom: 1;
    }
}